// Cell
@function cell-width($cell-width, $gutter-width) {
    $width: 0;

    @if (type_of($cell-width) == 'number') {
        @if unitless($cell-width) {
            $width: percentage($cell-width / $grid-column-count);
        } @else {
            $width: $cell-width;
        }
    } @else {
        @error 'Cell width must be a number';
    }

    @if type_of($gutter-width) == 'map' or type_of($gutter-width) == 'number' {
        $gutter-value: 0;

        @if type_of($gutter-width) == 'map' {
            $gutter-value: map-get($gutter-width, 1);
        } @else if type_of($gutter-width) == 'number' and $gutter-width != 0 {
            $gutter-value: $gutter-width;
        }

        @if $gutter-value != 0 {
            $width: calc(#{$width} - (#{$gutter-value} * 2));
        }

    }

    @return $width;
}

@mixin cell-width($cell-width, $gutter: $grid-gutter) {
    $flex-basis: auto;

    @if type_of($cell-width) == 'list' {
        $index: 1;
        @each $cell-width-n in $cell-width {
            @debug $cell-width + ': ' + $cell-width-n  + ': ' + $index;

            @if type_of($gutter) == 'map' or type_of($gutter) == 'list' {
                $gutter-width: null;

                $breakpoint: nth($grid-breakpoints, $index);
                $breakpoint-size: nth($breakpoint, 1);

                @if type_of($gutter) == 'map' {
                    $gutter-width: map-get($gutter, $breakpoint-size);
                } @else if type_of($gutter) == 'list' {
                    $gutter-width: nth($gutter, $index);
                }

                $flex-basis: cell-width($cell-width-n, $gutter-width);

                @include breakpoint($breakpoint-size) {
                    @include flex-basis($flex-basis);
                }
            } @else if type_of($gutter) == 'number' {
                $flex-basis: cell-width($cell-width-n, $gutter);
                @include flex-basis($flex-basis);
            }
            $index: $index + 1;
        }
    } @else {
        @if type_of($gutter) == 'map' {
            @each $breakpoint in $grid-breakpoints {
                $index: index($grid-breakpoints, $breakpoint);
                $breakpoint-size: nth($breakpoint, 1);
                $gutter-width: map-get($gutter, $breakpoint-size);
                $flex-basis: cell-width($cell-width, $gutter-width);

                @include breakpoint($breakpoint-size) {
                    @include flex-basis($flex-basis);
                }
            }
        } @else if type_of($gutter) == 'number' {
            $flex-basis: cell-width($cell-width, $gutter);
            @include flex-basis($flex-basis);
        }
    }

    @include gutter($gutter);
}

@mixin cell($cell-width: $grid-column-count, $gutter: $grid-gutter) {
    @include box-sizing(border-box);
    @include flex-grow(0);
    @include flex-shrink(0);
    @include cell-width($cell-width, $gutter);
}