//
// Gutter
//

@mixin gutter($gutter: $slate-gutter) {
    @if (type_of($gutter) == 'map') {
        @each $breakpoint, $value in $gutter {
            @include breakpoint($breakpoint) {
                margin: {
                    left: $value;
                    right: $value;
                }
            }
        }
    } @else if type_of($gutter) == 'list' {
        $index: 1;

        @each $gutter-n in $gutter {
            $breakpoint: nth($slate-breakpoint, $index);
            $breakpoint-size: nth($breakpoint, 1);

            @include breakpoint($breakpoint-size) {
                margin: {
                    left: $gutter-n;
                    right: $gutter-n;
                }
            }

            $index: $index + 1;
        }
    } @else {
        margin: {
            left: $gutter;
            right: $gutter;
        }
    }
}